---
import { contentfulClient } from "../../lib/contentful";
import type { Catalogue } from "../../lib/contentful";
import slug from 'slug';

export async function getStaticPaths() {
  const entries = await contentfulClient.getEntries<Catalogue>({
  content_type: "colorins",
});
  
  const pages = entries.items.map((item) => ({
    params: { slug: slug(item.fields.title) },
    props: {
      title: item.fields.title,
      category: item.fields.category,
      image: item.fields.imagenes,
      slug: slug(item.fields.title),
    },
  }));
  return pages;
  }
  
  const { title, category, image, slug } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title}</title>
</head>
<body>
  <div>
   <h1>{title}</h1>
   <h3>{category}</h3>
  </div>
</body>
</html> 