---
import Layout from '../layouts/Layout.astro';
---

<Layout title="home" description="La mejor ropa para tu pequeño esta en colorins">
	<main class="flex justify-center items-center h-[80vh]">
		<h1>La mejor ropa solo en colorins</h1>
	</main>
</Layout>

