---
import Layout from '../layouts/Layout.astro';
import portada from "../images/home/portada.jpg";
---
<style define:vars={{ portada: `url("${portada.src}")`}}>

.portada{
    background-image: var(--portada);
}
</style>

<Layout>
    <main class="bg-black h-screen portada">
    </main>
</Layout>
