---

---

<style>
    ul {
        width: calc(
            171px * 10 
        );
    }
</style>
<div class="max-w-screen-2xl mx-auto">
    <div class="overflow-x-scroll snap-x snap-mandatory py-4">
        <ul class="flex space-x-4 mx-2">
            <li
                class="border rounded-full border-gray-300 px-6 py-2 hover:border-gray-500 hover:text-gray-500 text-gray-400"
            >
                <a href="">
                    <p>Playeras y polos</p>
                </a>
            </li>
            <li
                class="border rounded-full border-gray-300 px-6 py-2 hover:border-gray-500 hover:text-gray-500 text-gray-400"
            >
                <a href="">
                    <p>Vestidos</p>
                </a>
            </li>
            <li
                class="border rounded-full border-gray-300 px-6 py-2 hover:border-gray-500 hover:text-gray-500 text-gray-400"
            >
                <a href="">
                    <p>Pantalones y faldas</p>
                </a>
            </li>
            <li
                class="border rounded-full border-gray-300 px-6 py-2 hover:border-gray-500 hover:text-gray-500 text-gray-400"
            >
                <a href="">
                    <p>Conjuntos</p>
                </a>
            </li>
            <li
                class="border rounded-full border-gray-300 px-6 py-2 hover:border-gray-500 hover:text-gray-500 text-gray-400"
            >
                <a href="">
                    <p>Pants</p>
                </a>
            </li>
            <li
                class="border rounded-full border-gray-300 px-6 py-2 hover:border-gray-500 hover:text-gray-500 text-gray-400"
            >
                <a href="">
                    <p>Pijamas</p>
                </a>
            </li>
            <li
                class="border rounded-full border-gray-300 px-6 py-2 hover:border-gray-500 hover:text-gray-500 text-gray-400"
            >
                <a href="">
                    <p>Ropa interior</p>
                </a>
            </li>
            <li
                class="border rounded-full border-gray-300 px-6 py-2 hover:border-gray-500 hover:text-gray-500 text-gray-400"
            >
                <a href="">
                    <p>Accesorios y complementos</p>
                </a>
            </li>
            <li
                class="border rounded-full border-gray-300 px-6 py-2 hover:border-gray-500 hover:text-gray-500 text-gray-400"
            >
                <a href="">
                    <p>Calzado</p>
                </a>
            </li>
            <li
                class="border rounded-full border-orange-400 text-orange-400 px-6 py-2 hover:border-orange-600 hover:text-orange-600"
            >
                <a href="">
                    <p>🔥 Promociones</p>
                </a>
            </li>
        </ul>
    </div>
</div>
