---
import mayoral from '../images/mayoral.svg';
import molekhino from '../images/molekhino.png';
---

<footer>
    <div class="max-w-screen-xl mx-auto my-16">
        <div class="mx-auto">
            <ul class="flex flex-wrap lg:flex space-x-4 justify-center text-gray-400 mx-4">
                <li><a href="" class="hover:text-gray-500">Categorías:</a></li>
                <li><a href="" class="hover:text-gray-500">Recién nacido</a></li>
                <li><a href="" class="hover:text-gray-500">Recién nacida</a></li>
                <li><a href="" class="hover:text-gray-500">Baby niño</a></li>
                <li><a href="" class="hover:text-gray-500">Baby niña</a></li>
                <li><a href="" class="hover:text-gray-500">Mini nina</a></li>
                <li><a href="" class="hover:text-gray-500">Mini nino</a></li>
                <li><a href="" class="hover:text-gray-500">Junior niño</a></li>
                <li><a href="" class="hover:text-gray-500">Junior niña</a></li>
            </ul>
            <div class="flex flex-col mt-4 lg:flex lg:flex-row justify-center lg:space-x-4 items-center">
                <img class="w-36" src={mayoral.src} alt="">
                <img class="w-40 lg:w-44" src={molekhino.src} alt="">
            </div>
        </div>
    </div>
</footer>