---
import Navigation from "../components/Navigation.astro";
import Logo from "../images/logo-colorins.svg";
---

<div class="py-2 max-w-xl mx-auto">
    <ul class="flex items-center justify-between lg:space-x-8">
        <div>
            <a href="/">
            <img src={Logo.src} alt="Logotipo colorins">
            </a>
        </div>
        <div class="flex space-x-7">
            <Navigation
            href="/newborn"
            title="Recién nacida"
            age="0 a 18 meses"
            />
            <Navigation
            href="/babynina"
            title="Baby niña"
            age="2 a 9 años"
            />
            <Navigation
            href="/mininina"
            title="Mini niña"
            age="2 a 9 años"
            />
            <Navigation
            href="/juniornina"
            title="Junior niña"
            age="8 a 16 años"
            />
        </div>
    </ul>
</div>

